<a href="https://colab.research.google.com/github/nobrelu/Python-Bootcamp-IGTI/blob/master/Cap%C3%ADtulo_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pessoa = "Marcelo"
#endereco = "Rua das Flores, 74"
#idade = 18



#dicionarios

pessoa =  {
    'nome' : 'Marcelo',
    'endereco' : 'Rua das Flores, 74',
    'idade' : 18
}

print(pessoa)
print(pessoa['idade'])

{'nome': 'Marcelo', 'endereco': 'Rua das Flores, 74', 'idade': 18}
18

In [ ]:
#lista 
lista=['Marcelo', 'Maria', 'José', 'João']
print(lista)
print(lista[0])
print(lista[-1]) #pega o ultimo item
print(lista[2:4]) #lembrar q nao pega o ultimo do range
print(lista[:2])  #do inicio ate o "2" menos 1 sempre

lista[0] = 'Rodrigo' #adicionando Rodrigo na posicao 0 SUBSTITUIU A POSICAO ZERO
print(lista)

#tamanho da lista LEN
print(len(lista))

['Marcelo', 'Maria', 'José', 'João']
Marcelo
João
['José', 'João']
['Marcelo', 'Maria']
['Rodrigo', 'Maria', 'José', 'João']
4

In [ ]:
#lista 
lista=['Marcelo', 'Maria', 'José', 'João']
#adicionar item na lista // adiciona no final
lista.append('Joana')
#print(lista)


#copiar lista
lista_copia = lista.copy()
lista_copia[0] = 'Rodrigo'

print(lista)
print(lista_copia)

['Marcelo', 'Maria', 'José', 'João', 'Joana']
['Rodrigo', 'Maria', 'José', 'João', 'Joana']

In [ ]:
#lista 
lista=['Marcelo', 'Maria', 'José', 'João']
print(lista)
#insert precisa da posicao a ser inserido // insere sem substituir
lista.insert(0, 'Joana') 
lista.insert(2, 'Jonas') 
print(lista)

#como retirar um item
lista.remove("Maria") #escolhe o valor a ser retirado
print(lista)

#como retirar pela posicao
nome_retirado = lista.pop(2) #retira o nome da posicao do array ( 0  até len-1)

print(nome_retirado)
print(lista)
lista.insert(0, 'Maria') 
lista.insert(2, 'Maria') 
print(lista)
lista.remove("Maria") #so remove a primeira maria encontrada
print(lista)

['Marcelo', 'Maria', 'José', 'João']
['Joana', 'Marcelo', 'Jonas', 'Maria', 'José', 'João']
['Joana', 'Marcelo', 'Jonas', 'José', 'João']
Jonas
['Joana', 'Marcelo', 'José', 'João']
['Maria', 'Joana', 'Maria', 'Marcelo', 'José', 'João']
['Joana', 'Maria', 'Marcelo', 'José', 'João']

In [ ]:
lista=['Maria', 'Marcelo', 'Maria', 'José', 'João']

#localizar um nome na lista
if ('Marcelo' in lista):
  print('Marcelo está na lista')

Marcelo está na lista

In [ ]:
#TUPLA
#listas e tuplas sao mto parecidas
#lista usa []
#tupla usa ()

tupla=('Maria', 'Marcelo', 'Maria', 'José', 'João')
#tupla nao tem append
#tupla nao é modificavel. nao da pra mudar nada
print(tupla)
print('Marcelo' in tupla)

('Maria', 'Marcelo', 'Maria', 'José', 'João')
True

In [ ]:
#Lista de Pessoas
#ou lista de dicionarios
lista_pessoas = []
lista_pessoas.append({
    'nome' : 'Marcelo',
    'endereco' : 'Rua das Flores, 74',
    'idade' : 18
})
print(lista_pessoas)
lista_pessoas.append({
    'nome' : 'Marcelo',
    'endereco' : 'Rua das Canárias, 20',
    'idade' : 50
})
lista_pessoas.append({
    'nome' : 'Sandra',
    'endereco' : 'Rua das Pedras, 500',
    'idade' : 30
})
print(lista_pessoas)
print(lista_pessoas[1])

[{'nome': 'Marcelo', 'endereco': 'Rua das Flores, 74', 'idade': 18}]
[{'nome': 'Marcelo', 'endereco': 'Rua das Flores, 74', 'idade': 18}, {'nome': 'Marcelo', 'endereco': 'Rua das Canárias, 20', 'idade': 50}, {'nome': 'Sandra', 'endereco': 'Rua das Pedras, 500', 'idade': 30}]
{'nome': 'Marcelo', 'endereco': 'Rua das Canárias, 20', 'idade': 50}

In [ ]:
#aula de laços

#laço while

senha_correta = False
tentativas=3

while (not senha_correta)and(tentativas>0):
  print("Tentativas restantes: {}".format(tentativas))
  print('Tentativas restantes: ' + str(tentativas)) #transforma em string para poder printar de boa1
  senha = input('Digite sua senha: ')
  senha_correta = senha == 'secreto'
 
  if(not senha_correta):
    print('Senha incorreta')
    #tentativas -= 1
    tentativas = tentativas - 1
    
if tentativas > 0:
  print('Você acertou a senha')  
else:
  print('Acesso bloqueado')

Tentativas restantes: 3
Tentativas restantes: 3
Digite sua senha: 54
Senha incorreta
Tentativas restantes: 2
Tentativas restantes: 2
Digite sua senha: 514
Senha incorreta
Tentativas restantes: 1
Tentativas restantes: 1
Digite sua senha: 51
Senha incorreta
Acesso bloqueado

In [ ]:
#Lista de Pessoas
#ou lista de dicionarios
lista_pessoas = []
lista_pessoas.append({
    'id': 1,
    'nome' : 'Marcelo',
    'endereco' : 'Rua das Flores, 74',
    'idade' : 18,
    'salario': 1000.00
})
#print(lista_pessoas)
lista_pessoas.append({
    'id': 2,
    'nome' : 'Marcelo',
    'endereco' : 'Rua das Canárias, 20',
    'idade' : 50,
    'salario': 10000.00
})
lista_pessoas.append({
    'id': 3,
    'nome' : 'Sandra',
    'endereco' : 'Rua das Pedras, 500',
    'idade' : 30,
    'salario': 5000.20
})
#print(lista_pessoas)

for pessoa in lista_pessoas:
  print('A pessoa de id {} tem o nome de {}'.format(pessoa['id'], pessoa['nome']))

print('Mostrando pessoas com salário acima de 1000 reais:')

for pessoa in lista_pessoas:
  if (pessoa['salario'] > 1000):
    print('A pessoa de id {} tem o nome de {}'.format(pessoa['id'], pessoa['nome']))

A pessoa de id 1 tem o nome de Marcelo
A pessoa de id 2 tem o nome de Marcelo
A pessoa de id 3 tem o nome de Sandra
Mostrando pessoas com salário acima de 1000 reais:
A pessoa de id 2 tem o nome de Marcelo
A pessoa de id 3 tem o nome de Sandra

In [ ]:
#mostra os numeros de 1 a 10 - pares
for numero in range(1,11):
  if (numero % 2 == 0):
    print(numero)

for numero in range(1, 11, 3): #de 3 em 3, começa no 1 até 10. pulando de 3 em 3
 
    print(numero)

2
4
6
8
10
1
4
7
10

In [ ]:
from getpass import getpass
from getpass import getuser
senha = getpass('Digite sua senha')
usuario = getuser()
print(usuario)

Digite sua senha··········
root

In [ ]:
#digitar o item compra e quantidade
#verificar o valor total
#quando encerrar a compra dou o valor total 
produtos = ['Hamburger', 'Batatas Fritas', 'Combo n.1', 'Refrigerante']
cprecos = [15, 10.5, 20, 5]
itens_comprados = []
qtd_comprados = []
valor_compra = 0
item_compra = int(input('Qual o identificador do item da compra?'))

informacao = input("Qual quantidade consumida?")
while (not informacao.isdigit()):
  informacao = input('A quantidade deve ser um número. Digite novamente')
quantidade = int(informacao)
itens_comprados.append(produtos[item_compra])
qtd_comprados.append(informacao)
#item_compra = int(input('Qual o identificador do item da compra?'))
#52quantidade = int(input('Qual quantidade consumida?'))


while item_compra != -1:
  valor_compra += (precos[item_compra]*quantidade)
  item_compra = int(input('Qual o identificador do item da compra?'))
  
  if(item_compra==-1):
    break
  itens_comprados.append(produtos[item_compra])
  informacao = input("Qual quantidade consumida?")
  while (not informacao.isdigit()):
    informacao = input('A quantidade deve ser um número. Digite novamente')
  quantidade = int(informacao)
print('O total da compra {}'.format(valor_compra))  
print('****')
for item in itens_comprados:
  print('Comprado: {}'.format(item))

Qual o identificador do item da compra?1
Qual quantidade consumida?1
Qual o identificador do item da compra?-1
O total da compra 10.5
****
Comprado: Batatas Fritas