In [ ]:
print("Teste Colab")


"""
Boas Práticas em Python:
    - Identação 
    


""" 

print('aaa')

#Verificar tipo da variavel
variavel = 15
print(type(variavel))

#integer dividido por integer = float

a= 15
b = 20
divisao = a / b
print(type(divisao))

#converter inteiro para string
v = 12
z = str(v)
print(type(z))
y = int(z)
print(type(y))

Teste Colab
aaa
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

#TRABALHO PRATICO - MODULO 1

##**Enunciado:**

#### **Objetivos**

Praticar e reforçar os conceitos aprendidos até o momento:
* ✓ Variáveis em python.
* ✓ Dados primitivos em Python (String, Float, Integer, Boolean).
* ✓ Armazenamento de dados em python (List, Tuple, Sets, Dictionary).

#### **Enunciado**

Chegou o momento de praticar e consolidar os conceitos que nós aprendemos até o 
momento. Neste simples exercício, vamos criar algumas variáveis com informações sobre uma pessoa. As variáveis contêm informações da pessoa e sobre algumas viagens que ela fez. 

A partir da criação das variáveis, você deve responder as perguntas referentes a cada uma delas e sobre outros conceitos fundamentais que vimos até o momento. 


**Preste atenção em cada enunciado.**




#### **Atividades**



Os alunos(as) deverão desempenhar as seguintes atividades:
1. Crie as seguintes variáveis e responda as questões referentes a elas e sobre os 
demais conceitos aprendidos.

```
nome = 'Roberto'
idade = 35
altura = 1.88
cidades_visitadas = ['Paris', 'Barcelona', 'Chicago', 'Berlim']
paises_visitados = ('França', 'Espanha', 'Estados Unidos', 'Alemanha')
notas_cidades = {'Paris':5,
 'Barcelona':4,
 'Chicago':5,
 'Berlim':3}
dinheiro_gasto = {1.000}
dinheiro_guardado = 'R$ 500,00'
proximas_viagens = ['Moscou', 'Londres', 'Lisboa]
```

In [ ]:
nome = 'Roberto' #String
idade = 35  #Integer
altura = 1.88 #float
cidades_visitadas = ['Paris', 'Barcelona', 'Chicago', 'Berlim'] # Lista
paises_visitados = ('França', 'Espanha', 'Estados Unidos', 'Alemanha') #Tupla
notas_cidades = {'Paris':5,
 'Barcelona':4,
 'Chicago':5,
 'Berlim':3}  #dicionário
dinheiro_gasto = {1.000} #SET?
dinheiro_guardado = 'R$ 500,00' #String
proximas_viagens = ['Moscou', 'Londres', 'Lisboa]  
# Falta um ' acima

In [ ]:
nome = 'Roberto' #String
idade = 35  #Integer
altura = 1.88 #float
cidades_visitadas = ['Paris', 'Barcelona', 'Chicago', 'Berlim'] # Lista
paises_visitados = ('França', 'Espanha', 'Estados Unidos', 'Alemanha') #Tupla
notas_cidades = {'Paris':5,
 'Barcelona':4,
 'Chicago':5,
 'Berlim':3}  #dicionário
dinheiro_gasto = {1.000} #SET
dinheiro_guardado = 'R$ 500,00' #String
proximas_viagens = ['Moscou', 'Londres', 'Lisboa']  
# Falta um ' acima

print("O tipo da variavel nome é: ", type(nome))
print("O tipo da variavel idade é: ", type(idade))
print("O tipo da variavel altura é: ", type(altura))
print("O tipo da variavel cidades_visitadas é: ", type(cidades_visitadas))
print("O tipo da variavel paises_visitados é: ", type(paises_visitados))
print("O tipo da variavel notas_cidades é: ", type(notas_cidades))
print("O tipo da variavel dinheiro_gasto é: ", type(dinheiro_gasto))
print("O tipo da variavel dinheiro_guardado é: ", type(dinheiro_guardado))
print("O tipo da variavel proximas_viagens é: ", type(proximas_viagens))

O tipo da variavel nome é:  <class 'str'>
O tipo da variavel idade é:  <class 'int'>
O tipo da variavel altura é:  <class 'float'>
O tipo da variavel cidades_visitadas é:  <class 'list'>
O tipo da variavel paises_visitados é:  <class 'tuple'>
O tipo da variavel notas_cidades é:  <class 'dict'>
O tipo da variavel dinheiro_gasto é:  <class 'set'>
O tipo da variavel dinheiro_guardado é:  <class 'str'>
O tipo da variavel proximas_viagens é:  <class 'list'>

In [ ]:
print = '5'
print(print)

TypeError: ignored

# DESAFIO PRÁTICO - MÓDULO 1  - PARTE 2

## OBJETIVOS


Exercitar os seguintes conceitos trabalhados no Módulo:


     ✓ Laços de repetições.
     ✓ Função range().
     ✓ Funções.
     ✓ Instalação, importação de módulos e pacotes


## ENUNCIADO


Como desenvolvedor python você deve ser capaz de criar soluções que automatizem 
trabalhos maçantes. Para automatização, utilizamos funções e laços de repetição que são  verdadeiros aliados no cotidiano de um(a) desenvolvedor(a). Neste desafio, vamos praticar um pouco sobre o que estudamos no nosso módulo.

**Leia cada questão com atenção!**


## ATIVIDADES

Os alunos deverão desempenhar as seguintes atividades:


*   Observe cada código a seguir e responda as perguntas correspondes. Preste 
atenção no nome de cada código. Fique atento(a) aos detalhes.



Abaixo:



*   FUNÇÃO 1:

        def saudacao(nome):
          print('Olá', nome, 'tudo bem?')

*   FUNÇÃO 2:            
        def imc(peso, altura):
          print(peso / altura ** 2)

*   FUNÇÃO 3:  
        soma = lambda x, y: x + y

*   FUNÇÃO 4:  
        def soma(x, y)
          print(x + y)

*   Laço de repetição 1:  
        num = 0
        while num < 20:
          print(num)
          num += 1

*   Laço de repetição 2:  
        for i in range(0, 10, 2):
          print(i)


*   Laço de repetição 3:  
        
        numeros = [1,2,3,4,5,6,7,8,9,10]
        for x in numeros:
          print(x)
          if x == 3:
            break


*   Laço de repetição 4:  

        num = 0
        while num < 10:
          num += 1
          if num == 6:
            continue
          print(num)


### **Nenhum código precisa ser entregue!**

In [ ]:

def saudacao(nome):
 print('Olá', nome, 'tudo bem?')



saudacao('Luciana')

Olá Luciana tudo bem?

In [ ]:
def imc(peso, altura):
 print(peso / altura ** 2)


imc(80, 1.65)

29.384756657483933

In [ ]:
soma = lambda x, y: x + y


print(soma(5,5))

10

In [ ]:
def soma(x, y): #faltou dois pontos
 print(x + y)

soma(5,5)

10

In [ ]:
num = 0
while num < 20:
 print(num)
 num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(0, 10, 2):
 print(i)

0
2
4
6
8

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
for x in numeros:
 print(x)
 if x == 3:
  break

1
2
3

In [ ]:
num = 0
while num < 10:
 num += 1
 if num == 6:
  continue
 print(num)

1
2
3
4
5
7
8
9
10

In [ ]:
num = 0
while num < 10:
 num += 1
 print(num)

1
2
3
4
5
6
7
8
9
10