In [ ]:
def linha(tam=42):
  return '-' * tam

def item(txt):
  print(linha())
  print(txt.center(42))
  print(linha())

#item('seu texto')    

def separador():
  print("\n")

# DESAFIO

# PYTHON PARA ANÁLISE DE DADOS

## OBJETIVOS

Realizar a análise de uma base de dados real em Python

## Enunciado

O uso de bicicletas como meio de transporte ganhou muita força nos últimos anos, seja por questões ambientais, de saúde ou até mesmo de infraestrutura de trânsito. Para incentivar seu uso, cidades em todo o mundo têm implementado programas de compartilhamento de bicicleta. Nesses sistemas, elas são retiradas e devolvidas em quiosques automatizados que ficam espalhados por diversos pontos da cidade.



As plataformas de compartilhamento de bicicletas costumam coletar diversos tipos de dados, como a duração da viagem, as localizações iniciais e finais dos percursos, entre outros. Esses dados, em conjunto com informações sobre o clima, o trânsito e o relevo, por exemplo, possibilitam uma análise mais robusta do compartilhamento de bicicletas.

**Segue um descritivo dos dadados coletados:**

*  rec_id: índice do registro de locação
*  datetima: data;
*  season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono). Relativo ao hemisfério norte.
*  year: ano(0: 2011, 1:2012)
*  month: mês(1 a 12)
*  hour: hora do dia ( 0  a 23)
*  is_holiday: booleano indicando feriado
*  weekday: dia da semana(0: domingo, 1: segunda-feria,...,6:sábado);
*  is_workingday: booleano indicando dia útil;
*   weather_condition: (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte);
*  temp: Temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39;
*  atemp: Sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 
a 50;
*  humidity: Humidade relativa (0 a 1);
*  windspeed: Velocidade do vento escalada entre 0 e 1 (máximo original: 67);
*  casual: número de locações para usuários casuais;
*  registered: número de locações para usuários registrados;
*  total_count: contador total de aluguéis (casual+registered).


Esta atividade tem como objetivo analisar os dados de compartilhamento de bicicletas em  uma cidade, coletados pela Universidade do Porto.

## ATIVIDADES


Os alunos deverão desempenhar as seguintes atividades:


1. Acessar o ambiente Google Colaboratory (recomendado) ou qualquer ambiente de 
desenvolvimento em Python.
2. Importar as bibliotecas do numpy e pandas conforme:

~~~
# importando as bibliotecas 
import numpy as np
import pandas as pd
~~~

3. Carregar o dataset  https://pycourse.s3.amazonaws.com/bike-sharing.csv para análise utilizando o pandas. Exemplo:


~~~
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
~~~

4. Responder as seguintes perguntas:


    a. Qual o tamanho desse dataset?
    b. Qual a média da coluna windspeed?
    c. Qual a média da coluna temp?
    d. Quantos registros existem para o ano de 2011?
    e. Quantos registros existem para o ano de 2012?
    f. Quantas locações de bicicletas foram efetuadas em 2011?
    g. Quantas locações de bicicletas foram efetuadas em 2012?
    h. Qual estação do ano contém a maior média de locações de bicicletas?
    i. Qual estação do ano contém a menor média de locações de bicicletas?
    j. Qual horário do dia contém a maior média de locações de bicicletas?
    k. Qual horário do dia contém a menor média de locações de bicicletas?
    l. Que dia da semana contém a maior média de locações de bicicletas?
    m. Que dia da semana contém a menor média de locações de bicicletas?
    n. Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média 
    de locações de bicicletas?
    o. Aos sábados (weekday = 6), qual o horário do dia contém a maior média de 
    locações de bicicletas?

## RESPOSTAS FINAIS

Os alunos deverão desenvolver a prática e, depois, responder às seguintes questões objetivas:

In [ ]:
# importando as bibliotecas 
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [ ]:
item('O DataFrame')    
df

------------------------------------------
               O DataFrame
------------------------------------------

         datetime  rec_id  season  ...  casual  registered  total_count
0      2011-01-01       1       1  ...       3          13           16
1      2011-01-01       2       1  ...       8          32           40
2      2011-01-01       3       1  ...       5          27           32
3      2011-01-01       4       1  ...       3          10           13
4      2011-01-01       5       1  ...       0           1            1
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[17379 rows x 17 columns]

# PERGUNTAS E RESPOSTAS: ✔

---


### Pergunta 1

- [X] a. Qual o tamanho desse dataset?

In [ ]:
item('Detalhes do INFO para o DataFrame')    
df.info()
separador()
item('Detalhes específicos')  
print("Números de linhas: ", len(df))
print("Números de colunas: ", len(df.columns))
print("Números de linhas e  colunas: ", df.shape) #tamanho
print("Números elementos: ", df.size)

------------------------------------------
    Detalhes do INFO para o DataFrame
------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB


------------------------------------------
           Detalhes específicos
------------------------------------------
Números de linhas:  17379
Números de colunas:  17
Números de linhas e  colunas:  (17379, 17)
Números elementos:  295443



---


### Pergunta 2

- [X] b. Qual a média da coluna windspeed?

In [ ]:
#média mean
item('Média da coluna windspeed')    

print("A média da coluna windspeed é de: ", df['windspeed'].mean())

------------------------------------------
        Média da coluna windspeed
------------------------------------------
A média da coluna windspeed é de:  0.1900976063064631

In [ ]:
item('Tipo de uma coluna')    
type(df['windspeed'])

------------------------------------------
            Tipo de uma coluna
------------------------------------------

pandas.core.series.Series

In [ ]:
#média mean
item('Média de uma coluna')    
df['windspeed']

------------------------------------------
           Média de uma coluna
------------------------------------------

0        0.0000
1        0.0000
2        0.0000
3        0.0000
4        0.0000
          ...
17374    0.1642
17375    0.1642
17376    0.1642
17377    0.1343
17378    0.1343
Name: windspeed, Length: 17379, dtype: float64



---


### Pergunta 3

- [X] c. Qual a média da coluna temp?

In [ ]:
#média mean
item('Média da coluna temp')    
#df.groupby(by='temp').mean()
print("A média da coluna temp é de: ", df['temp'].mean())

------------------------------------------
           Média da coluna temp
------------------------------------------
A média da coluna temp é de:  0.4969871684216586



---


### Pergunta 4

- [X] d. Quantos registros existem para o ano de 2011?

In [ ]:
#cond
cond = df.year == 0 # 0 é 2011
df2 = df[cond]
print("O números de registros 'rec_id' no ano de 2011 foi de: ", df2['rec_id'].count())

O números de registros 'rec_id' no ano de 2011 foi de:  8645



---


### Pergunta 5

- [X] e. Quantos registros existem para o ano de 2012?

In [ ]:
#cond
cond = df.year == 1 # 0 é 2012
df3 = df[cond]
print("O números de registros 'rec_id' no ano de 2012 foi de: ", df3['rec_id'].count())

O números de registros 'rec_id' no ano de 2012 foi de:  8734



---


### Pergunta 6

- [X] f. Quantas locações de bicicletas foram efetuadas em 2011?

In [ ]:
#sum
#cond
cond = df.year == 0 # 0 é 2011
df2 = df[cond]
print("Total de locações efetuadas em 2011: ", df2['total_count'].sum())
#df2.groupby(by='total_count').sum()

Total de locações efetuadas em 2011:  1243103



---


### Pergunta 7

- [x] g. Quantas locações de bicicletas foram efetuadas em 2012?

In [ ]:
#sum
#cond
cond = df.year == 1 # 1 é 2012
df3 = df[cond]
print("Total de locações efetuadas em 2011: ", df3['total_count'].sum())
#df2.groupby(by='total_count').sum()

Total de locações efetuadas em 2011:  2049576



---


### Pergunta 8

- [ ] h. Qual estação do ano contém a maior média de locações de bicicletas?

In [ ]:
item('Médias por estações')  
df['season']

------------------------------------------
           Médias por estações
------------------------------------------

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [ ]:
coluna_seasons = df['season']
df_estacao = df.groupby(coluna_seasons)
df_estacao.mean()

              rec_id      year      month  ...     casual  registered  total_count
season                                     ...
1        6302.008015  0.512494   3.119755  ...  14.290901   96.823668   111.114569
2        7287.727376  0.500340   4.654117  ...  46.160581  162.183488   208.344069
3        9526.588968  0.501779   7.689724  ...  50.287144  185.729093   236.016237
4       11655.779301  0.495747  10.702505  ...  30.666824  168.202032   198.868856

[4 rows x 15 columns]

In [ ]:
df_estacao['total_count'].mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64



---


### Pergunta 9

- [ ] i. Qual estação do ano contém a menor média de locações de bicicletas?

In [ ]:
df_estacao['total_count'].mean().min()

111.11456859971712



---


### Pergunta 10

- [ ] j. Qual horário do dia contém a maior média de locações de bicicletas?

In [ ]:
item('Médias por horário')  
df['hour']
coluna_horas = df['hour']
df_horas = df.groupby(coluna_horas)
df_horas.mean()
df_horas['total_count'].mean()

------------------------------------------
            Médias por horário
------------------------------------------

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64

In [ ]:
df_horas['total_count'].mean().min()

6.352941176470588



---


### Pergunta 11

- [ ] l. Que dia da semana contém a maior média de locações de bicicletas?

In [ ]:
df[['weekday', 'total_count']].groupby(by='weekday').mean()

         total_count
weekday
0         177.468825
1         183.744655
2         191.238891
3         191.130505
4         196.436665
5         196.135907
6         190.209793

In [ ]:
df[['weekday', 'total_count']].groupby(by='weekday').mean().min()

total_count    177.468825
dtype: float64



---


### Pergunta 12

- [ ] m. Que dia da semana contém a menor média de locações de bicicletas?

In [ ]:
#df[['hour', 'weekday', 'total_count']].groupby(by='weekday').mean()
df[['weekday', 'total_count']].groupby(by='weekday').mean()

         total_count
weekday
0         177.468825
1         183.744655
2         191.238891
3         191.130505
4         196.436665
5         196.135907
6         190.209793



---


### Pergunta 13

- [ ] n. Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média 
de locações de bicicletas?

In [ ]:
cond = df.weekday == 3
df2 = df[cond]
df2[['weekday', 'hour', 'total_count']].groupby(by='hour').mean()
#df2[['weekday', 'hour', 'total_count']].groupby(by='hour').mean().max()

      weekday  total_count
hour
0         3.0    34.557692
1         3.0    15.336538
2         3.0     7.813725
3         3.0     4.888889
4         3.0     4.968750
5         3.0    25.750000
6         3.0   107.807692
7         3.0   303.980769
8         3.0   488.326923
9         3.0   238.528846
10        3.0   131.894231
11        3.0   152.201923
12        3.0   193.903846
13        3.0   185.826923
14        3.0   170.548077
15        3.0   181.288462
16        3.0   272.961538
17        3.0   513.144231
18        3.0   494.029126
19        3.0   357.504854
20        3.0   256.660194
21        3.0   194.669903
22        3.0   143.689320
23        3.0    83.737864

In [ ]:
df2[['weekday', 'hour', 'total_count']].groupby(by='hour').mean().max()

weekday          3.000000
total_count    513.144231
dtype: float64



---


### Pergunta 14

- [ ] o. Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?

In [ ]:
cond = df.weekday == 6
df2 = df[cond]
df2[['weekday', 'hour', 'total_count']].groupby(by='hour').mean()

      weekday  total_count
hour
0         6.0    94.304762
1         6.0    67.780952
2         6.0    50.495238
3         6.0    22.885714
4         6.0     7.657143
5         6.0     8.291262
6         6.0    21.000000
7         6.0    45.961905
8         6.0   114.476190
9         6.0   186.790476
10        6.0   263.723810
11        6.0   328.609524
12        6.0   375.380952
13        6.0   385.371429
14        6.0   381.333333
15        6.0   382.428571
16        6.0   366.142857
17        6.0   334.409524
18        6.0   292.048077
19        6.0   239.932692
20        6.0   180.865385
21        6.0   156.000000
22        6.0   139.663462
23        6.0   115.855769

In [ ]:
df2[['weekday', 'hour', 'total_count']].groupby(by='hour').mean().max()

weekday          6.000000
total_count    385.371429
dtype: float64



---